.buy-button {
    font-size: inherit !important;
    text-transform: none;
}

.product-card-description {
    font-size: 1.75rem !important;
    letter-spacing: 0px;
}
.product-card-name {
    font-size: 1.75rem !important;
}